netifaces==0.10.4
netaddr==0.7.19
dhcplib==0.1.1
ipaddress==1.0.22
scapy_http==1.8.2
configparser==4.0.2
tabulate==0.8.5
beautifultable==0.8.0
urwid==1.1.2
termcolor==1.1.0
PyQt5==5.10.1
dnslib==0.9.7
loguru==0.4.0
scapy==2.4.3
npyscreen==4.10.5
isc_dhcp_leases==0.9.1
dnspython==1.16.0
proxy.py==2.1.2
